.admin {
  padding: 0.5em;
}

.admin .manage-users-table {
  background: var(--primary);
  width: 70%;
  padding: 1em;
  height: 75vh;
  -webkit-box-shadow: 5px 5px 20px rgba(1, 1, 1, 0.25);
          box-shadow: 5px 5px 20px rgba(1, 1, 1, 0.25);
  color: white;
  position: relative;
}

.admin .manage-users-table button {
  width: 60px;
  height: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
}

.admin .manage-users-table button:hover {
  opacity: 0.5;
}

.admin .manage-users-table table {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.admin .manage-users-table table th {
  border-bottom: solid 1px white;
  color: white;
  background: var(--primary);
  font-size: 0.9rem;
}

.admin .manage-users-table table td {
  padding: 0.25em;
}

.admin .manage-users-table table tr:nth-child(even) {
  background: var(--secondary);
}

.admin .manage-users-table .manage-users-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin .manage-users-table .popup-manager {
  background: var(--header);
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  padding: 1em;
  border-radius: 10px;
  display: none;
}

.admin .manage-users-table .popup-manager > div {
  display: none;
}

.admin .manage-users-table .popup-manager > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin .manage-users-table .popup-manager > div > div .exit-popup {
  width: auto;
}

.admin .manage-users-table .popup-manager > div form {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  margin-top: 1em;
}

.admin .manage-users-table .popup-manager > div form input,
.admin .manage-users-table .popup-manager > div form select {
  font-size: 1.2rem;
  padding: 0.25em;
}

.admin .manage-users-table .popup-manager > div form button {
  font-size: 1.3rem;
  background: var(--secondary);
  border: none;
  color: white;
  padding: 0.25em;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.admin .manage-users-table .popup-manager > div form button:hover {
  opacity: 0.5;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

footer {
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=admin.css.map */