.main-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-dashboard .global {
  color: white;
  margin-bottom: 0.5em;
  background: var(--primary);
  padding: 1em;
  -webkit-box-shadow: 5px 5px 20px rgba(1, 1, 1, 0.25);
          box-shadow: 5px 5px 20px rgba(1, 1, 1, 0.25);
}

.main-dashboard .global table {
  width: 100%;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.main-dashboard .global table th {
  border-bottom: solid 1px white;
}

.main-dashboard .global table td {
  padding: 0.25em;
}

.main-dashboard .global table tr:nth-child(even) {
  background: var(--secondary);
}

.main-dashboard .left-dashboard {
  width: 80vw;
  padding: 0.5em;
}

.main-dashboard .left-dashboard .workload-bar {
  height: 50vh;
  padding: 1em;
  color: white;
}

.main-dashboard .left-dashboard .workload-bar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-dashboard .left-dashboard .workload-bar > div label {
  font-size: 0.9rem;
}

.main-dashboard .left-dashboard .workload-table {
  padding: 1em;
  color: white;
}

.main-dashboard .left-dashboard .workload-table .highlight-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1em;
}

.main-dashboard .left-dashboard .workload-table .highlight-div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-dashboard .left-dashboard .workload-table .highlight-div > div > div {
  margin-left: 0.5em;
  width: 100px;
  height: 20px;
}

.main-dashboard .left-dashboard .workload-table .highlight-div > div .eos-two {
  background: lightblue;
}

.main-dashboard .left-dashboard .workload-table .highlight-div > div .eos-one {
  background: lightgreen;
}

.main-dashboard .left-dashboard .workload-table .above-max-table thead {
  background: red;
}

.main-dashboard .left-dashboard .workload-table .above-current-table thead {
  background: yellow;
  color: black;
}

.main-dashboard .left-dashboard .hour-by-hour-workload {
  height: 50vh;
}

.main-dashboard .right-dashboard {
  width: 20vw;
  padding: 0.5em 0.5em 0.5em 0;
}
/*# sourceMappingURL=dashboard.css.map */