@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --secondary: #333D4F;
  --primary: #242B3E;
  --header: #2B3643;
  --sidebar: #364150;
  --icons: #828F9E;
  --background: #EEF1F5;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--sidebar);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--header);
}

button:focus {
  outline: none;
}

main header {
  background: var(--primary);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .title-div {
  padding: 1em;
}

main header .nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main header .nav-div .user-div {
  font-size: 0.6rem;
  padding: 0 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}

main header .nav-div a {
  width: 60px;
  height: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main header .nav-div a:hover {
  opacity: 0.5;
  background: var(--background);
  color: var(--primary);
}

main footer {
  padding: 0.5em;
  color: white;
  text-align: center;
  width: 100%;
  background: var(--header);
}
/*# sourceMappingURL=global.css.map */