form {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  width: 30%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  background: var(--primary);
  padding: 1em;
  border-radius: 10px;
  color: white;
}

form input {
  font-size: 1.2rem;
  padding: 0.25em;
}

form button {
  font-size: 1.3rem;
  background: var(--secondary);
  border: none;
  color: white;
  padding: 0.25em;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

form button:hover {
  opacity: 0.5;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

footer {
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=index.css.map */