{% extends "structure.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/global.css" />
<link rel="stylesheet" href="/static/css/admin.css" />
{% endblock %} {% block dash_nav %} 
<a title="Dashboard" href="/dashboard"><i class="far fa-chart-bar"></i></a>
{% endblock %} {% block body %}
<!-- ######################### start-admin -->
<div class="container admin">
  <div class="manage-users-table">
    <div class="manage-users-top-bar">
      <label for="">Manage Users</label>
      <button id="add-user" title="Add User">
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
    <table>
      <thead>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Date Created</th>
        <th></th>
        <th></th>
      </thead>
      <tbody></tbody>
    </table>
    <!-- popup (add, delete, edit) -->
    <div class="popup-manager">
      <!-- add user popup -->
      <div class="add-user-popup">
        <div>
          <label for="">Add User</label>
          <button class="exit-popup" title="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <form id="add-user-form">
          <input type="text" name="first_name" placeholder="First Name" />
          <input type="text" name="last_name" placeholder="Last Name" />
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
          />
          <select name="role" id="">
            <option value="" selected>Select Role</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
          </select>
          <button type="submit">Submit</button>
        </form>
      </div>
      <!-- edit user popup -->
      <div class="edit-user-popup">
        <div>
          <label for="">Edit User</label>
          <button class="exit-popup" title="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <form id="edit-user-form">
          <input type="text" name="first_name" placeholder="First Name" />
          <input type="text" name="last_name" placeholder="Last Name" />
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
          />
          <select name="role" id="">
            <option value="" selected>Select Role</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
          </select>
          <input type="hidden" name="user_id" />
          <button type="submit">Submit</button>
        </form>
      </div>
      <!-- delete user popup -->
      <div class="delete-user-popup">
        <div>
          <label for="">Delete User</label>
          <button class="exit-popup" title="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <form id="delete-user-form">
          <input
            type="text"
            name="password"
            placeholder="Enter Password To Confirm"
          />
          <input type="hidden" name="user_id" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <!-- end popup -->
  </div>
</div>
<!-- ######################### end-admin -->
{% endblock %} {% block script %}
<script src="/static/js/jquery.js"></script>
<script
  src="https://kit.fontawesome.com/822c2b0397.js"
  crossorigin="anonymous"
></script>
<script src="/static/js/admin.js"></script>
{% endblock %}
