{% extends "structure.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/global.css" />
<link rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %} {% block admin_nav %}
<a title="Admin" href="/admin"><i class="fas fa-user"></i></a>
{% endblock %} {% block body %}
<!-- ######################### start-dashboard -->
<div class="container main-dashboard">
  <div class="left-dashboard">
    <!-- workload bar chart -->
    <div class="workload-bar global">
      <div>
        <label for="">Updated At: <span id="updated-at"></span></label>
        <label for="">Server Status: <span id="server-status"></span></label>
      </div>
      <canvas id="current-workload-bar-chart"></canvas>
    </div>
    <!-- workload table -->
    <div class="workload-table global">
      <div class="highlight-div">
        <div>
          <label for="">EOS Within Two Hours = </label>
          <div class="eos-two"></div>
        </div>
        <div>
          <label for="">EOS Within One Hour = </label>
          <div class="eos-one"></div>
        </div>
      </div>
      <!-- above max table -->
      <div class="above-max-table">
        <label for=""
          >Above Max Threshold <span id="above-max-count"></span
        ></label>
        <table>
          <thead>
            <th>Unit</th>
            <th>Workload</th>
            <th>Threshold</th>
            <th>Ratio</th>
            <th>Arrivals</th>
            <th>Task Time</th>
            <th>Post Time</th>
            <th>Last Post</th>
            <th>Trending</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- above current table -->
      <div class="above-current-table">
        <label for=""
          >Above Current Threshold <span id="above-current-count"></span
        ></label>
        <table>
          <thead>
            <th>Unit</th>
            <th>Workload</th>
            <th>Threshold</th>
            <th>Ratio</th>
            <th>Arrivals</th>
            <th>Task Time</th>
            <th>Post Time</th>
            <th>Last Post</th>
            <th>Trending</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- other table -->
      <div class="other-table">
        <label for="">Other <span id="other-count"></span></label>
        <table>
          <thead>
            <th>Unit</th>
            <th>Workload</th>
            <th>Threshold</th>
            <th>Ratio</th>
            <th>Arrivals</th>
            <th>Task Time</th>
            <th>Post Time</th>
            <th>Last Post</th>
            <th>Trending</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- hour by hour workload -->
    <div class="hour-by-hour-workload global">
      <canvas id="hour-by-hour-line-chart"></canvas>
    </div>
  </div>
  <div class="right-dashboard">
    <!-- top 3 busiest by workload -->
    <div class="busiest-by-workload global">
      <label for="">Top 3 Busiest By Workload</label>
      <table>
        <thead>
          <th>Unit</th>
          <th>Workload</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!-- top 3 busiest by ratio -->
    <div class="busiest-by-ratio global">
      <label for="">Top 3 Busiest By Ratio</label>
      <table>
        <thead>
          <th>Unit</th>
          <th>Ratio</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!-- top 3 longest without post -->
    <div class="longest-without-post global">
      <label for="">Top 3 Longest Without Post</label>
      <table>
        <thead>
          <th>Unit</th>
          <th>Last Post</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<!-- ######################### end-dashboard -->
{% endblock %} {% block script %}
<script src="/static/js/jquery.js"></script>
<script
  src="https://kit.fontawesome.com/822c2b0397.js"
  crossorigin="anonymous"
></script>
<!-- CHARTJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}
