{% extends "structure.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/global.css" />
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %} {% block body %}
<form action="/login" method="POST">
  <label for="">Login</label>
  <input type="text" name="username" id="" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button type="submit">Login</button>
  <p>{{ msg }}</p>
</form>
{% endblock %} {% block script %} {% endblock %}
