<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block head %}{% endblock %}
    <title>EMSA V4</title>
  </head>
  <body>
    <!-- ########################## start-main -->
    <main>
      <!-- ######################### start-header -->
      <header>
        <div class="title-div">
          <label for="">EMSA Unit Workload</label>
        </div>
        {% if auth and role == "Admin" %}
        <div class="nav-div">
          <div class="user-div">
            <span id="current-user">User: {{ user }}</span>
          </div>
          {% block dash_nav %} {% endblock %} {% block admin_nav %} {% endblock
          %}
          <a title="Logout" href="/logout"
            ><i class="fas fa-sign-out-alt"></i
          ></a>
        </div>
        {% elif auth and role != "Admin" %}
        <div class="nav-div">
          <div class="user-div">
            <span id="current-user">User: {{ user }}</span>
          </div>
          <a title="Logout" href="/logout"
            ><i class="fas fa-sign-out-alt"></i
          ></a>
        </div>
        {% endif %}
      </header>
      <!-- ######################### end-header -->

      {% block body %} {% endblock %}

      <!-- ######################### start-footer -->
      <footer>
        <label for="">Version 1.0.4</label>
      </footer>
      <!-- ######################### end-footer -->
    </main>
    <!-- ########################## end-main -->
    {% block script %}{% endblock %}
  </body>
</html>
